# 【生产环境专用】Sealos K8s 内网 SVC 地址，云端部署时必须使用此地址以保证 0 延迟（业务库 uss_db，避免占用默认 postgres 库）：
# DATABASE_URL="postgresql://postgres:85f5d49q@zhihu-tb-postgresql.ns-jhdb1ue7.svc:5432/uss_db?schema=public"

# 【本地开发专用】Sealos 外网映射地址（业务净室 uss_db）：
DATABASE_URL="postgresql://postgres:85f5d49q@dbconn.sealoshzh.site:31097/uss_db?schema=public"

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change-me-in-production"
